@model sp.Controllers.ViewModel
@using Microsoft.AspNetCore.Authentication
@{
    ViewData["Title"] = "Home Page";
    var user = await Context.AuthenticateAsync();
}

<div class="text-center">
    <h1 class="display-4">Service Provider</h1>

    @if (user.Succeeded)
    {
        <pre><code>@Model.SamlMessage</code></pre>
    }
    else
    {
        <a class="btn btn-primary" asp-action="Login">Login</a>
    }
    
</div>